In [ ]:
print("hello")

hello
10

In [1]:

import pandas as pd

In [2]:
file_path = 'C:/Users/mune1/OneDrive/Desktop/wcmatches.csv'  
data = pd.read_csv(file_path)

In [3]:
# Display the first few rows of the dataset
print("Dataset loaded successfully!")
data.head()

Dataset loaded successfully!

,year,country,city,stage,home_team,away_team,home_score,away_score,outcome,win_conditions,winning_team,losing_team,date,month,dayofweek
0,1930,Uruguay,Montevideo,Group 1,France,Mexico,4,1,H,NaN,France,Mexico,1930-07-13,Jul,Sunday
1,1930,Uruguay,Montevideo,Group 4,Belgium,United States,0,3,A,NaN,United States,Belgium,1930-07-13,Jul,Sunday
2,1930,Uruguay,Montevideo,Group 2,Brazil,Yugoslavia,1,2,A,NaN,Yugoslavia,Brazil,1930-07-14,Jul,Monday
3,1930,Uruguay,Montevideo,Group 3,Peru,Romania,1,3,A,NaN,Romania,Peru,1930-07-14,Jul,Monday
4,1930,Uruguay,Montevideo,Group 1,Argentina,France,1,0,H,NaN,Argentina,France,1930-07-15,Jul,Tuesday

In [4]:
missing_values = data['win_conditions'].isnull().sum()
# Print the result
print(f"Number of missing values in 'win_conditions': {missing_values}")

Number of missing values in 'win_conditions': 838

In [5]:
# Define a function to fill missing win_conditions based on winning_team
def fill_win_conditions_based_on_team(row):
    if pd.isnull(row['win_conditions']):
        # Create the message based on the winning team
        return f"{row['winning_team']} won in 90 minutes"
    return row['win_conditions']

# Apply the function to fill missing values in the 'win_conditions' column
data['win_conditions'] = data.apply(fill_win_conditions_based_on_team, axis=1)

# Print the first few rows to verify the changes
print(data.head())

   year  country        city    stage  home_team      away_team  home_score  \
0  1930  Uruguay  Montevideo  Group 1     France         Mexico           4
1  1930  Uruguay  Montevideo  Group 4    Belgium  United States           0
2  1930  Uruguay  Montevideo  Group 2     Brazil     Yugoslavia           1
3  1930  Uruguay  Montevideo  Group 3       Peru        Romania           1
4  1930  Uruguay  Montevideo  Group 1  Argentina         France           1

   away_score outcome                   win_conditions   winning_team  \
0           1       H         France won in 90 minutes         France
1           3       A  United States won in 90 minutes  United States
2           2       A     Yugoslavia won in 90 minutes     Yugoslavia
3           3       A        Romania won in 90 minutes        Romania
4           0       H      Argentina won in 90 minutes      Argentina

  losing_team        date month dayofweek
0      Mexico  1930-07-13   Jul    Sunday
1     Belgium  1930-07-13   Jul    Sunday
2      Brazil  1930-07-14   Jul    Monday
3        Peru  1930-07-14   Jul    Monday
4      France  1930-07-15   Jul   Tuesday

In [6]:
data.head()

,year,country,city,stage,home_team,away_team,home_score,away_score,outcome,win_conditions,winning_team,losing_team,date,month,dayofweek
0,1930,Uruguay,Montevideo,Group 1,France,Mexico,4,1,H,France won in 90 minutes,France,Mexico,1930-07-13,Jul,Sunday
1,1930,Uruguay,Montevideo,Group 4,Belgium,United States,0,3,A,United States won in 90 minutes,United States,Belgium,1930-07-13,Jul,Sunday
2,1930,Uruguay,Montevideo,Group 2,Brazil,Yugoslavia,1,2,A,Yugoslavia won in 90 minutes,Yugoslavia,Brazil,1930-07-14,Jul,Monday
3,1930,Uruguay,Montevideo,Group 3,Peru,Romania,1,3,A,Romania won in 90 minutes,Romania,Peru,1930-07-14,Jul,Monday
4,1930,Uruguay,Montevideo,Group 1,Argentina,France,1,0,H,Argentina won in 90 minutes,Argentina,France,1930-07-15,Jul,Tuesday

In [7]:
# Define a function to calculate match outcome based on home_team and winning_team
def calculate_match_outcome(row):
    if row['winning_team'] == 'NA':  # Check for 'NA' string
        return 'Draw'
    elif row['home_team'] == row['winning_team']:
        return 'Won'
    else:
        return 'Loss'

In [8]:
# Apply the function to create the new 'Match_Outcome' column
data['Match_Outcome'] = data.apply(calculate_match_outcome, axis=1)

In [9]:
# Print the first few rows to verify the new column
print(data[['home_team', 'winning_team', 'Match_Outcome']].head())

   home_team   winning_team Match_Outcome
0     France         France           Won
1    Belgium  United States          Loss
2     Brazil     Yugoslavia          Loss
3       Peru        Romania          Loss
4  Argentina      Argentina           Won

In [10]:
data.head()

,year,country,city,stage,home_team,away_team,home_score,away_score,outcome,win_conditions,winning_team,losing_team,date,month,dayofweek,Match_Outcome
0,1930,Uruguay,Montevideo,Group 1,France,Mexico,4,1,H,France won in 90 minutes,France,Mexico,1930-07-13,Jul,Sunday,Won
1,1930,Uruguay,Montevideo,Group 4,Belgium,United States,0,3,A,United States won in 90 minutes,United States,Belgium,1930-07-13,Jul,Sunday,Loss
2,1930,Uruguay,Montevideo,Group 2,Brazil,Yugoslavia,1,2,A,Yugoslavia won in 90 minutes,Yugoslavia,Brazil,1930-07-14,Jul,Monday,Loss
3,1930,Uruguay,Montevideo,Group 3,Peru,Romania,1,3,A,Romania won in 90 minutes,Romania,Peru,1930-07-14,Jul,Monday,Loss
4,1930,Uruguay,Montevideo,Group 1,Argentina,France,1,0,H,Argentina won in 90 minutes,Argentina,France,1930-07-15,Jul,Tuesday,Won

In [11]:
first_40_rows = data.head(40)

print(first_40_rows)

    year  country        city          stage       home_team       away_team  \
0   1930  Uruguay  Montevideo        Group 1          France          Mexico
1   1930  Uruguay  Montevideo        Group 4         Belgium   United States
2   1930  Uruguay  Montevideo        Group 2          Brazil      Yugoslavia
3   1930  Uruguay  Montevideo        Group 3            Peru         Romania
4   1930  Uruguay  Montevideo        Group 1       Argentina          France
5   1930  Uruguay  Montevideo        Group 1           Chile          Mexico
6   1930  Uruguay  Montevideo        Group 2         Bolivia      Yugoslavia
7   1930  Uruguay  Montevideo        Group 4        Paraguay   United States
8   1930  Uruguay  Montevideo        Group 3         Uruguay            Peru
9   1930  Uruguay  Montevideo        Group 1       Argentina          Mexico
10  1930  Uruguay  Montevideo        Group 1           Chile          France
11  1930  Uruguay  Montevideo        Group 4         Belgium        Paraguay
12  1930  Uruguay  Montevideo        Group 2         Bolivia          Brazil
13  1930  Uruguay  Montevideo        Group 3         Uruguay         Romania
14  1930  Uruguay  Montevideo        Group 1       Argentina           Chile
15  1930  Uruguay  Montevideo     Semifinals       Argentina   United States
16  1930  Uruguay  Montevideo     Semifinals         Uruguay      Yugoslavia
17  1930  Uruguay  Montevideo          Final         Uruguay       Argentina
18  1934    Italy     Bologna    Round of 16       Argentina          Sweden
19  1934    Italy       Turin    Round of 16         Austria          France
20  1934    Italy    Florence    Round of 16         Belgium         Germany
21  1934    Italy       Genoa    Round of 16          Brazil           Spain
22  1934    Italy     Trieste    Round of 16  Czechoslovakia         Romania
23  1934    Italy      Naples    Round of 16           Egypt         Hungary
24  1934    Italy        Rome    Round of 16           Italy   United States
25  1934    Italy       Milan    Round of 16     Netherlands     Switzerland
26  1934    Italy     Bologna  Quarterfinals         Austria         Hungary
27  1934    Italy       Turin  Quarterfinals  Czechoslovakia     Switzerland
28  1934    Italy       Milan  Quarterfinals         Germany          Sweden
29  1934    Italy    Florence  Quarterfinals           Italy           Spain
30  1934    Italy    Florence  Quarterfinals           Italy           Spain
31  1934    Italy        Rome     Semifinals  Czechoslovakia         Germany
32  1934    Italy       Milan     Semifinals           Italy         Austria
33  1934    Italy      Naples    Third place         Austria         Germany
34  1934    Italy        Rome          Final           Italy  Czechoslovakia
35  1938   France       Paris    Round of 16         Germany     Switzerland
36  1938   France  Strasbourg    Round of 16          Brazil          Poland
37  1938   France    Toulouse    Round of 16            Cuba         Romania
38  1938   France    Le Havre    Round of 16  Czechoslovakia     Netherlands
39  1938   France    Colombes    Round of 16          France         Belgium

    home_score  away_score outcome                    win_conditions  \
0            4           1       H          France won in 90 minutes
1            0           3       A   United States won in 90 minutes
2            1           2       A      Yugoslavia won in 90 minutes
3            1           3       A         Romania won in 90 minutes
4            1           0       H       Argentina won in 90 minutes
5            3           0       H           Chile won in 90 minutes
6            0           4       A      Yugoslavia won in 90 minutes
7            0           3       A   United States won in 90 minutes
8            1           0       H         Uruguay won in 90 minutes
9            6           3       H       Argentina won in 90 minutes
10           1           0       H           Chile won in 90 minutes
11           0           1       A        Paraguay won in 90 minutes
12           0           4       A          Brazil won in 90 minutes
13           4           0       H         Uruguay won in 90 minutes
14           3           1       H       Argentina won in 90 minutes
15           6           1       H       Argentina won in 90 minutes
16           6           1       H         Uruguay won in 90 minutes
17           4           2       H         Uruguay won in 90 minutes
18           2           3       A          Sweden won in 90 minutes
19           3           2       H                Austria won in AET
20           2           5       A         Germany won in 90 minutes
21           1           3       A           Spain won in 90 minutes
22           2           1       H  Czechoslovakia won in 90 minutes
23           2           4       A         Hungary won in 90 minutes
24           7           1       H           Italy won in 90 minutes
25           2           3       A     Switzerland won in 90 minutes
26           2           1       H         Austria won in 90 minutes
27           3           2       H  Czechoslovakia won in 90 minutes
28           2           1       H         Germany won in 90 minutes
29           1           1       D             nan won in 90 minutes
30           1           0       H           Italy won in 90 minutes
31           3           1       H  Czechoslovakia won in 90 minutes
32           1           0       H           Italy won in 90 minutes
33           2           3       A    West Germany won in 90 minutes
34           2           1       H                  Italy won in AET
35           1           1       D             nan won in 90 minutes
36           6           5       H                 Brazil won in AET
37           3           3       D             nan won in 90 minutes
38           3           0       H         Czechoslovakia won in AET
39           3           1       H          France won in 90 minutes

      winning_team     losing_team        date month  dayofweek Match_Outcome
0           France          Mexico  1930-07-13   Jul     Sunday           Won
1    United States         Belgium  1930-07-13   Jul     Sunday          Loss
2       Yugoslavia          Brazil  1930-07-14   Jul     Monday          Loss
3          Romania            Peru  1930-07-14   Jul     Monday          Loss
4        Argentina          France  1930-07-15   Jul    Tuesday           Won
5            Chile          Mexico  1930-07-16   Jul  Wednesday           Won
6       Yugoslavia         Bolivia  1930-07-17   Jul   Thursday          Loss
7    United States        Paraguay  1930-07-17   Jul   Thursday          Loss
8          Uruguay            Peru  1930-07-18   Jul     Friday           Won
9        Argentina          Mexico  1930-07-19   Jul   Saturday           Won
10           Chile          France  1930-07-19   Jul   Saturday           Won
11        Paraguay         Belgium  1930-07-20   Jul     Sunday          Loss
12          Brazil         Bolivia  1930-07-20   Jul     Sunday          Loss
13         Uruguay         Romania  1930-07-21   Jul     Monday           Won
14       Argentina           Chile  1930-07-22   Jul    Tuesday           Won
15       Argentina   United States  1930-07-26   Jul   Saturday           Won
16         Uruguay      Yugoslavia  1930-07-27   Jul     Sunday           Won
17         Uruguay       Argentina  1930-07-30   Jul  Wednesday           Won
18          Sweden       Argentina  1934-05-27   May     Sunday          Loss
19         Austria          France  1934-05-27   May     Sunday           Won
20         Germany         Belgium  1934-05-27   May     Sunday          Loss
21           Spain          Brazil  1934-05-27   May     Sunday          Loss
22  Czechoslovakia         Romania  1934-05-27   May     Sunday           Won
23         Hungary           Egypt  1934-05-27   May     Sunday          Loss
24           Italy   United States  1934-05-27   May     Sunday           Won
25     Switzerland     Netherlands  1934-05-27   May     Sunday          Loss
26         Austria         Hungary  1934-05-31   May   Thursday           Won
27  Czechoslovakia     Switzerland  1934-05-31   May   Thursday           Won
28         Germany          Sweden  1934-05-31   May   Thursday           Won
29             NaN             NaN  1934-05-31   May   Thursday          Loss
30           Italy           Spain  1934-06-01   Jun     Friday           Won
31  Czechoslovakia         Germany  1934-06-03   Jun     Sunday           Won
32           Italy         Austria  1934-06-03   Jun     Sunday           Won
33    West Germany         Austria  1934-06-07   Jun   Thursday          Loss
34           Italy  Czechoslovakia  1934-06-10   Jun     Sunday           Won
35             NaN             NaN  1938-06-04   Jun   Saturday          Loss
36          Brazil          Poland  1938-06-05   Jun     Sunday           Won
37             NaN             NaN  1938-06-05   Jun     Sunday          Loss
38  Czechoslovakia     Netherlands  1938-06-05   Jun     Sunday           Won
39          France         Belgium  1938-06-05   Jun     Sunday           Won

In [12]:
row_35 = data.iloc[35]  

# Print the 35th row
print(row_35)

year                               1938
country                          France
city                              Paris
stage                       Round of 16
home_team                       Germany
away_team                   Switzerland
home_score                            1
away_score                            1
outcome                               D
win_conditions    nan won in 90 minutes
winning_team                        NaN
losing_team                         NaN
date                         1938-06-04
month                               Jun
dayofweek                      Saturday
Match_Outcome                      Loss
Name: 35, dtype: object

In [13]:
missing_values = data['win_conditions'].isnull().sum()

# Print the result
print(f"Number of missing values in 'win_conditions': {missing_values}")

Number of missing values in 'win_conditions': 0

In [14]:
data.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
895    False
896    False
897    False
898    False
899    False
Length: 900, dtype: bool

In [15]:
import re

In [16]:
# Define a function to check if a city name contains symbols or numbers
def contains_symbol_or_number(city):
    # Check if city contains any digit or special symbol using regex
   return bool(re.search(r'[^A-Za-z]', str(city)))

In [17]:
# Apply the function to the 'city' column
cities_with_symbols_or_numbers = data[data['city'].apply(contains_symbol_or_number)]

In [18]:
# Get the list of unique cities with symbols or numbers
cities_with_symbols_or_numbers_list = cities_with_symbols_or_numbers['city'].unique()

# Print the list of cities with symbols or numbers
print(cities_with_symbols_or_numbers_list)

['Le Havre' 'Rio de Janeiro' 'São Paulo' 'Belo Horizonte' 'Porto Alegre'
 'Zürich' 'Malmö' 'Norrköping' 'Västerås' 'Borås' 'Örebro' 'Viña del Mar'
 'Mexico City' 'León' 'Frankfurt am Main' 'Düsseldorf' 'Buenos Aires'
 'Mar del Plata' 'Córdoba' 'La Coruña' 'Málaga' 'Gijón' 'Nezahualcóyotl'
 'Querétaro' 'East Rutherford' 'Palo Alto' 'Saint-Denis' 'Saint-Étienne'
 'Ōita' 'Cape Town' 'Port Elizabeth' 'Cuiabá' 'Brasília'
 'Saint Petersburg' 'Rostov-on-Don' 'Nizhny Novgorod']

In [19]:
row_57 = data.iloc[57]  # Index 30 corresponds to the 31st row

# Print the 31st row
print(row_57)

year                                      1950
country                                 Brazil
city                            Belo Horizonte
stage                                  Group 1
home_team                          Switzerland
away_team                           Yugoslavia
home_score                                   0
away_score                                   3
outcome                                      A
win_conditions    Yugoslavia won in 90 minutes
winning_team                        Yugoslavia
losing_team                        Switzerland
date                                1950-06-25
month                                      Jun
dayofweek                               Sunday
Match_Outcome                             Loss
Name: 57, dtype: object

In [20]:
draw_count = data['outcome'].value_counts().get('D', 0)

# Print the result
print(f'The number of draws (D) in the outcome column is: {draw_count}')

The number of draws (D) in the outcome column is: 169

In [21]:
# Create the new 'win-notwin' column based on the 'outcome' column
data['win-notwin'] = data['outcome'].apply(lambda x: 'win' if x == 'H' else 'notwin')

# Check the first few rows to confirm
print(data[['outcome', 'win-notwin']].head())

  outcome win-notwin
0       H        win
1       A     notwin
2       A     notwin
3       A     notwin
4       H        win

In [22]:
# Display the first few rows of the dataset
print("Dataset loaded successfully!")
data.head()

Dataset loaded successfully!

,year,country,city,stage,home_team,away_team,home_score,away_score,outcome,win_conditions,winning_team,losing_team,date,month,dayofweek,Match_Outcome,win-notwin
0,1930,Uruguay,Montevideo,Group 1,France,Mexico,4,1,H,France won in 90 minutes,France,Mexico,1930-07-13,Jul,Sunday,Won,win
1,1930,Uruguay,Montevideo,Group 4,Belgium,United States,0,3,A,United States won in 90 minutes,United States,Belgium,1930-07-13,Jul,Sunday,Loss,notwin
2,1930,Uruguay,Montevideo,Group 2,Brazil,Yugoslavia,1,2,A,Yugoslavia won in 90 minutes,Yugoslavia,Brazil,1930-07-14,Jul,Monday,Loss,notwin
3,1930,Uruguay,Montevideo,Group 3,Peru,Romania,1,3,A,Romania won in 90 minutes,Romania,Peru,1930-07-14,Jul,Monday,Loss,notwin
4,1930,Uruguay,Montevideo,Group 1,Argentina,France,1,0,H,Argentina won in 90 minutes,Argentina,France,1930-07-15,Jul,Tuesday,Won,win

In [23]:
# Create a new column to store the difference between home_score and away_score
data['score_diff'] = data['home_score'] - data['away_score']

In [24]:
print("Dataset loaded successfully!")
data.head()

Dataset loaded successfully!

,year,country,city,stage,home_team,away_team,home_score,away_score,outcome,win_conditions,winning_team,losing_team,date,month,dayofweek,Match_Outcome,win-notwin,score_diff
0,1930,Uruguay,Montevideo,Group 1,France,Mexico,4,1,H,France won in 90 minutes,France,Mexico,1930-07-13,Jul,Sunday,Won,win,3
1,1930,Uruguay,Montevideo,Group 4,Belgium,United States,0,3,A,United States won in 90 minutes,United States,Belgium,1930-07-13,Jul,Sunday,Loss,notwin,-3
2,1930,Uruguay,Montevideo,Group 2,Brazil,Yugoslavia,1,2,A,Yugoslavia won in 90 minutes,Yugoslavia,Brazil,1930-07-14,Jul,Monday,Loss,notwin,-1
3,1930,Uruguay,Montevideo,Group 3,Peru,Romania,1,3,A,Romania won in 90 minutes,Romania,Peru,1930-07-14,Jul,Monday,Loss,notwin,-2
4,1930,Uruguay,Montevideo,Group 1,Argentina,France,1,0,H,Argentina won in 90 minutes,Argentina,France,1930-07-15,Jul,Tuesday,Won,win,1

In [25]:
import numpy as np

In [26]:
# Calculate the mean and standard deviation of the score_diff
mean = np.mean(data['score_diff'])
std_dev = np.std(data['score_diff'])

In [27]:
# Calculate the Z-scores for the score_diff column manually
z_scores = (data['score_diff'] - mean) / std_dev

In [28]:
# Set a threshold for Z-scores 
threshold = 3

In [29]:
outliers_z = np.abs(z_scores) > threshold

In [30]:
# Show the rows with outliers
outlier_rows = data[outliers_z]

In [31]:
# Print the outlier rows
print("Rows with outliers based on Z-scores:")
print(outlier_rows[['year', 'home_team', 'away_team', 'home_score', 'away_score', 'score_diff', 'outcome']])

Rows with outliers based on Z-scores:
     year    home_team     away_team  home_score  away_score  score_diff  \
45   1938         Cuba        Sweden           0           8          -8
64   1950      Bolivia       Uruguay           0           8          -8
81   1954      Hungary   South Korea           9           0           9
86   1954     Scotland       Uruguay           0           7          -7
89   1954  South Korea        Turkey           0           7          -7
243  1974   Yugoslavia         Zaire           9           0           9
246  1974        Haiti        Poland           0           7          -7
311  1982      Hungary   El Salvador          10           1           9
581  2002      Germany  Saudi Arabia           8           0           8
738  2010     Portugal   North Korea           7           0           7
832  2014       Brazil       Germany           1           7          -6

    outcome
45        A
64        A
81        H
86        A
89        A
243       H
246       A
311       H
581       H
738       H
832       A

In [70]:


# Initialize parameters
k = 5  # Number of past games to consider for streaks
gamma = 0.33  # Stealing fraction for Form
initial_form = 1  # Initial Form value for all teams

# Initialize Streak, Weighted Streak, and Form dictionaries
teams = pd.concat([data['home_team'], data['away_team']]).unique()
streaks = {team: [] for team in teams}
forms = {team: initial_form for team in teams}

# Helper function to compute streak and weighted streak
def compute_streak(team, outcomes):
    streak = sum(outcomes[-k:]) / (3 * k) if len(outcomes) >= k else sum(outcomes) / (3 * len(outcomes))
    weights = [i + 1 for i in range(len(outcomes[-k:]))]
    weighted_streak = sum(w * o for w, o in zip(weights, outcomes[-k:])) / (3 * sum(weights)) if len(outcomes) >= k else sum(w * o for w, o in zip(weights, outcomes)) / (3 * sum(weights))
    
    return streak, weighted_streak  # Return both streak and weighted streak

# Iterate through the matches
for idx, row in data.iterrows():
    home_team = row['home_team']
    away_team = row['away_team']
    winning_team = row['winning_team']
    
    # Assign result values: 3 = win, 1 = draw, 0 = loss
    if winning_team == home_team:
        home_result, away_result = 3, 0
    elif winning_team == away_team:
        home_result, away_result = 0, 3
    else:  # Draw
        home_result, away_result = 1, 1

    # Update streaks and weighted streaks
    streaks[home_team].append(home_result)
    streaks[away_team].append(away_result)
    
    home_streak, home_weighted_streak = compute_streak(home_team, streaks[home_team])
    away_streak, away_weighted_streak = compute_streak(away_team, streaks[away_team])

    # Update Form
    home_form = forms[home_team]
    away_form = forms[away_team]
    
    if home_result == 3:  # Home team wins
        forms[home_team] += gamma * forms[away_team]
        forms[away_team] -= gamma * forms[away_team]
    elif away_result == 3:  # Away team wins
        forms[away_team] += gamma * forms[home_team]
        forms[home_team] -= gamma * forms[home_team]
    elif home_result == 1 and away_result == 1:  # Draw
        forms[home_team] -= gamma * (forms[home_team] - forms[away_team])
        forms[away_team] -= gamma * (forms[away_team] - forms[home_team])

    # Add computed features back to the dataset
    data.loc[idx, 'Home_Streak'] = home_streak
    data.loc[idx, 'Away_Streak'] = away_streak
    data.loc[idx, 'Home_Weighted_Streak'] = home_weighted_streak
    data.loc[idx, 'Away_Weighted_Streak'] = away_weighted_streak
    data.loc[idx, 'Home_Form'] = forms[home_team]
    data.loc[idx, 'Away_Form'] = forms[away_team]

# Display the first 10 rows with the new columns
data[['home_team', 'away_team', 'winning_team', 
      'Home_Streak', 'Away_Streak', 
      'Home_Weighted_Streak', 'Away_Weighted_Streak', 
      'Home_Form', 'Away_Form']].head(10)

,home_team,away_team,winning_team,Home_Streak,Away_Streak,Home_Weighted_Streak,Away_Weighted_Streak,Home_Form,Away_Form
0,France,Mexico,France,1.0,0.0,1.0,0.000000,1.330000,0.670000
1,Belgium,United States,United States,0.0,1.0,0.0,1.000000,0.670000,1.330000
2,Brazil,Yugoslavia,Yugoslavia,0.0,1.0,0.0,1.000000,0.670000,1.330000
3,Peru,Romania,Romania,0.0,1.0,0.0,1.000000,0.670000,1.330000
4,Argentina,France,Argentina,1.0,0.5,1.0,0.333333,1.438900,0.891100
5,Chile,Mexico,Chile,1.0,0.0,1.0,0.000000,1.221100,0.448900
6,Bolivia,Yugoslavia,Yugoslavia,0.0,1.0,0.0,1.000000,0.670000,1.660000
7,Paraguay,United States,United States,0.0,1.0,0.0,1.000000,0.670000,1.660000
8,Uruguay,Peru,Uruguay,1.0,0.0,1.0,0.000000,1.221100,0.448900
9,Argentina,Mexico,Argentina,1.0,0.0,1.0,0.000000,1.587037,0.300763

In [71]:
print(data[['home_team', 'away_team', 'winning_team', 
            'Home_Streak', 'Away_Streak', 
            'Home_Weighted_Streak', 'Away_Weighted_Streak', 
            'Home_Form', 'Away_Form']].tail(10))

    home_team    away_team winning_team  Home_Streak  Away_Streak  \
890    Sweden  Switzerland       Sweden     0.600000     0.333333
891  Colombia      England      England     0.400000     0.666667
892   Uruguay       France       France     0.800000     0.866667
893    Brazil      Belgium      Belgium     0.666667     1.000000
894    Sweden      England      England     0.600000     0.800000
895    Russia      Croatia      Croatia     0.600000     1.000000
896    France      Belgium       France     0.866667     0.800000
897   Croatia      England      Croatia     1.000000     0.600000
898   Belgium      England      Belgium     0.800000     0.400000
899    France      Croatia       France     0.866667     0.800000

     Home_Weighted_Streak  Away_Weighted_Streak  Home_Form  Away_Form
890              0.733333              0.333333   2.256544   0.579345
891              0.466667              0.688889   0.952520   1.095243
892              0.666667              0.866667   1.462061   2.770643
893              0.622222              1.000000   1.655206   2.513854
894              0.533333              0.800000   1.511884   1.839903
895              0.466667              1.000000   0.644232   2.433866
896              0.911111              0.666667   3.600215   1.684282
897              1.000000              0.533333   3.041034   1.232735
898              0.733333              0.333333   2.091085   0.825932
899              0.955556              0.666667   4.603756   2.037493

In [72]:
data.to_csv('C:/Users/mune1/OneDrive/Desktop/updated_wcmatches_with_features.csv', index=False)

In [73]:
# List of columns to drop
columns_to_remove = [
    'home_streak', 
    'away_streak', 
    'home_weighted_streak', 
    'away_weighted_streak', 
    'home_form', 
    'away_form'
]

In [74]:
# Drop the columns
data = data.drop(columns=columns_to_remove, errors='ignore')

In [76]:
data.to_csv('C:/Users/mune1/OneDrive/Desktop/updated_wcmatches_with_features.csv', index=False)